$column-bg: #eabf83;
$column-active-bg: #ec7b7b;

.model_array {
  &_container {
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  &_item {
    position: absolute;
    will-change: transform, height, opacity;
    width: 20px;
    background: $column-bg;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    &.active {
      background: $column-active-bg;
    }
  }
}

.main-list-cell {

  width: 20px;
  position: relative;
  background-size: cover;
  //width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  padding: 15px;
}

.main-list-details {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffffa0;
  color: white;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.main-list-details h1 {
  position: relative;
  color: white;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 300px;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.main-list-details p {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding-top: 6px;
}
